RewriteEngine On
# Evita reescribir si el archivo o directorio existe físicamente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Redirige todo lo demás a index.php
RewriteRule ^ index.php [QSA,L]
RewriteEngine On
# Pasar el header Authorization a PHP
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]